/* Reset and Basic Styling */
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Header */
  header {
    background-color: gray;
    padding: 30px;
  }
  
  header figure {
    margin-left: 0;
  }
  
  hgroup {
    color: red;
    margin-top: 30px;
  }
  
  hgroup h1 {
    margin-top: 0;
  }
  
  .header-image {
    width: 110px;
    height: 110px;
  }
  
  /* Content */
  .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Section Titles */
  h3 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 15px 0;
    margin: 0;
  }
  
  h3::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
  }
  
  /* Skill Styling */
  .skill {
    background-color: gray;
    margin: 10px 0;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  
  .skill span {
    display: block;
    padding: 10px;
    background-color: red;
  }
  
  /* Skills Primary and Secondary */
  .skills-primary,
  .skills-secondary {
    margin-top: 20px;
    padding: 5px;
  }
  
  .skills-primary::before {
    content: "Main";
  }
  
  .skills-secondary::before {
    content: "Other";
  }
  
  .skills-secondary .skill {
    opacity: 0.8;
  }
  /* Progress Bar Animation */  
  .skill[data-skill="5"] span {
    width: 70%;
  }
  .skill[data-skill="3"] span {
    width: 40%;
  }
  .skill[data-skill="1"] span {
    width: 30%;
  }


  /*  Secondary-skills */

  .skill[data-skill="9"] span {
    width: 90%;
  }

  .skill[data-skill="7"] span {
    width: 35%;
  } 
  
  /* Experience Styling */  
  .experience-type,
  .experience-institution {
    color: red;
  }
  
  .experience-institution::before {
    content: "@";
    font-size: inherit;
    color: red;
  }
  
  .experience-date-separator {
    color: red;
  }
  
  .experience-details {
    color: gray;
  }
  
  .experience-details::before {
    content: "In ";
    color: gray;
  }
  
  .experience-description {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Contacts */
  .contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .contact {
    display: flex;
    align-items: baseline;
    margin: 0;
  }
  
  .contact-type {
    background-color: red;
    color: white;
    width: 160px;
    padding: 3px;
  }
  
  .contact-value a {
    color: red;
    text-decoration: none;
  }
  
  /* Media Queries */
  @media (min-width: 992px) {
    header {
      padding: 10px 150px;
    }
  
    header div {
      display: flex;
      align-items: center;
    }
  
    header figure {
      margin-left: 40px;
    }
  
    .content {
      padding: 60px 80px;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      gap: 20px;
    }
  
    #contact {
      position: absolute;
      top: 7px;
      right: 0;
      line-height: 1.5;
      width: 50%;
    }
  
    #contact h3 {
      display: none;
    }
  
    .contact-value {
      background-color: black;
      display: block;
      width: 100%;
      margin: 0;
      padding: 3px;
    }
  }
  